<!DOCTYPE html>
<html>
    <head>
        <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/HomeStyle.css">
@*        <style>
        body {
    background-image: url('/images/useAsBackgroundImage.jpg');
    /*    background-image: url('img_girl.jpg');*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
        </style>*@

    </head>
    <body class="bgImg"><br />
        <br />
        <h1 class="title"><b>Spice King</b></h1>
        @*<img src="/images/useAsBackgroundImage.jpg"/>*@    <br />
        <br />
        <br />
        <br />
        <div class="hours">
            <h2>Trading Hours</h2>
            <p>Sunday to Thursday: 12:00PM - 7:00PM</p>
            <p>Friday to Saturday: 12:00PM - LATE</p>
        </div>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <div>
            <h2>About US</h2>
            <div class="card">
            <p class="card-text">We, at Spice King, are extremely proud of our cooking skills & we believe that the authentic and hygeinic foods that we prepare is extra-ordinary.
We can assure that your taste buds will be treated with some unique and mouth-watering experiences that will be unmatched.</p>
            <p class="card-text">
Our Indian culinary skills and recipes have remained same for generations & most dishes have been been passed on from our ancestors & kept secret too.
            </p>
            <p class="card-text">
We do not hire outside cooks as we strongly believe in our uniqueness & authenticity. All our cooks are from our joint family using the same family recipes we have been using for generations.
            </p>
            <p class="card-text">
We only prepare vegetarian indian dishes. We are quite sanguine that your tongue will be entertained with divine indulgence and it will be genesis of our long standing association together. ENJOY!!

            </p>
            </div>
        </div>
        <br />
        <br />
        <br />
    
    </body>

</html>