.bgImg {
    background-image: url('/images/pexels-anil-sharma-10580198.jpg');
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover;



}


p, h1 {
    font-weight:bold;
    color:black;
}

.title {
    text-align:center;
}

.hours {
    color:black;
    text-align:center;
}

h2 {
    text-align:center;
    color:black;
}

.card {
    opacity:.8;
}

.card-text {
    color:black;
}